@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Signika+Negative:wght@500;700&family=Ultra&display=swap");

/* ESTILOS GENERALES */

:root {
  --color-primario: #fff;
  --color-secundario: #2a8db7;
  --color-terciario: #e02424;
  --color-terciario-oscuro: #c12828;
  --color-sombreado: #f2f2f2;

  --ff-cita: "Satisfy", cursive;
  --ff-principal: "Signika Negative", sans-serif;
  --ff-titulo: "Ultra", serif;
}

* {
  margin: 0;
  font-family: var(--ff-principal);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h2,
h3 {
  margin: 0.5em 0;
}

.titulo {
  font-family: var(--ff-titulo);
}

.subtitulo {
  color: var(--color-secundario);
}

.sombreado {
  border: 5px solid var(--color-terciario-oscuro);
  box-shadow: 0 0 15px grey;
}

.texto-mediano{font-size: 2.5rem}
.texto-grande{font-size: 4rem}

/* ENCABEZADO */

.encabezado,
.footer {
  background: var(--color-secundario);
}

.contenedor-flex {
  display: flex;
  align-items: center;
}

.encabezado {
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  height: 4.5em;
  margin-bottom: 1rem;
}

.logo {
  margin: 4px 0;
  height: 2.5em;
}

.pag-nombre {
  text-decoration: none;
  font-size: 40px;
  color: var(--color-primario);
  font-weight: 900;
}

.nav-bar {
  height: 2em;
  display: flex;
  font-size: 1.2em;
  gap: 1em;
}

.nav-enlace {
  text-decoration: none;
  color: var(--color-primario);
  padding: 0.2em 0;
  transition: transform 0.5s ease;
}

/* Esto es necesario porque Bootstrap cambia el color de los enlaces */
.nav-enlace:hover {
  color: white;
}

.nav-enlace::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: var(--color-primario);
  transition: width 0.3s ease;
}

.nav-enlace:hover::after {
  width: 100%;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: var(--color-primario);
}

/* CONTENIDO PRINCIPAL */

.main {
  margin: 2em 10%;
}

.contenedor {
  background: var(--color-sombreado);
  margin: 1em;
  padding: 1.5em 1em;
  border: 1px solid var(--color-secundario);
  border-radius: 10px;
}

.centrado {
  text-align: center;
}

/* Margenes */
.mg-10 {
  margin: 1em 10%;
}
.mg-20 {
  margin: 1em 20%;
}

/* FOOTER */

.footer {
  justify-content: flex-end;
  padding: 0.8em 2em;
}

.footer-item {
  color: var(--color-primario);
}

/* ESTILOS PARA SITIO INICIO */

.slogan {
  font-family: var(--ff-cita);
  font-size: 1.3em;
}

.img-principal {
  text-align: center;
}

.img-inicial {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 1em;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 85%;
  gap: 2em;
}

.grid-titulo {
  grid-column: 1 / span 2;
  padding: 0 1em;
}

.tarjeta {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vw;
  border: 6px outset var(--color-secundario);
  border-radius: 5px;
  overflow: hidden;
}

.tarjeta-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8em;
  width: 100%;
  background-color: #ffffffc6;
  font-size: 1.3vw;
}

.tarjeta-titulo {
  color: var(--color-secundario);
  z-index: 10;
}

#campo {
  background: url(../img/cosechadora.jpg);
}

#nacional {
  background: url(../img/azucar-sin-refinar.jpg);
}

#pallets {
  background: url(../img/pallets.png);
}

#calidad {
  background: url(../img/azucar-2.jpg);
}

#campo,
#nacional,
#pellets,
#calidad {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  margin: 1em 0;
}

/* ESTILOS PARA SITIO DE PROCESO */

.contenedor-indice {
  display: flex;
  align-items: center;
  gap: 1em;
}

aside {
  width: 30vw;
}

.indice {
  position: fixed;
  top: 150px;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid rgb(174, 174, 174);
}

.indice-lista > li {
  list-style-type: circle;
}

.indice-link {
  text-decoration: none;
  color: #000;
}

.indice-link:hover {
  color: var(--color-terciario);
  font-weight: 900;
}

.procesos {
  border: 1px solid var(--color-sombreado);
  border-radius: 10px;
  margin: 2em 5vw 2em auto;
  width: 100vw;
  padding: 1em;
}

.procesos-img {
  display: block;
  margin: 1em auto;
  width: 35%;
  border: 5px inset var(--color-secundario);
}

#etapas {
  transition: transform 0.4s ease;
}

#etapas:hover {
  transform: scale(2);
}

.boton {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: 3px solid var(--color-terciario);
  background: var(--color-terciario);
  text-decoration: none;
  color: var(--color-primario);
  border-radius: 4px;
}

.boton:hover {
  background: var(--color-terciario-oscuro);
  border-color: var(--color-terciario-oscuro);
}
/* ESTILOS PARA SITIO SOBRE NOSOTROS */

.ubicacion {
  width: 100%;
  height: 360px;
  text-align: center;
}

.mapa {
  width: 40%;
  height: 100%;
}

/*  Media Queries */

@media (max-width: 1366px) {
  .tarjeta-fondo {
    font-size: 1em;
  }

  aside {
    margin: auto;
    width: auto;
  }

  .indice {
    position: static;
    margin-top: 2em;
  }

  .contenedor-indice {
    flex-direction: column;
  }

  .mapa {
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  .nav-bar {
    height: 2em;
    display: flex;
    font-size: 1.1em;
    gap: 1em;
  }

  .mg-10 {
    margin: 1em 0;
  }

  .img-inicial {
    border-radius: 0;
    width: 100%;
  }

  .grid-titulo {
    grid-column: 1;
  }

  .contenedor-tarjetas {
    grid-template-columns: 1fr;
  }

  .tarjeta {
    height: 70vw;
  }

  .tarjeta-fondo {
    font-size: 1em;
  }

  .procesos-img {
    width: 80%;
  }

  #etapas:hover {
    transform: none;
  }

  .mapa {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hamburguer {
    display: block;
  }

  .nav-bar {
    position: fixed;
    left: -100%;
    top: 3em;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-secundario);
    width: 100%;
    height: auto;
    text-align: center;
    transition: left 0.4s ease-out;
  }

  .nav-enlace {
    margin: 1em 0;
  }

  .nav-bar.active {
    left: 0%;
  }

  .encabezado {
    flex-direction: row-reverse;
  }

  .mg-20 {
    margin: 1em 5%;
  }

  .procesos-img {
    width: 90%;
  }
}
